.contenedorCard {
  background-color: #fff;
  border: 1px palegoldenrod black;
  border-radius: 8px;
  display: flex;
  max-width: auto;
  box-shadow: 10px 10px 11px 3px rgba(128, 128, 128, 0.52);
  position: relative;
  width: 50%;
  height: 60%;
}

.cardContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
  min-width: 30%;
  min-height: 50%;
}

.cardContent img{
  max-width: 50%;
  max-height: 80%;
}

.cardText{
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  align-items: center;
  
  
}

.cardText h1{
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  color: #077984;
  padding: 0.5rem;
}

.cardText h5{
  padding: 0.5rem;
  font-size: 20px;
  
}

.botones {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0.5rem;
}

.botones Button {
  width: 48%;
}

@media (max-width: 430px) {
  .contenedorCard {
    width: 90%;
  }
  .cardContent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cardContent img{
    max-width: 80%;
    max-height: 50%;
  }
  .cardText h1{
    font-size: 30px;
  }
  .cardText h5{
    font-size: 15px;
  }
  .botones {
    flex-direction: column;
    align-items: center;
  }
  .botones Button {
    width: 100%;
  }
}
