.venderCard img {

    border-radius: 20px;
    width: 70%;
    height: 70%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    opacity: 0.7;
}

#cardW:hover {
    transform: none;
  }
